/*=== GENERAL ===*/
body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}


nav ul li {
    margin: 0 1rem;
}

/*=== HOME ===*/

.text-content {
    text-align: center;
    color: rgb(0, 0, 0);  
    border: 0;
}

.text-content h5 {
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin: 0;
    font-weight: lighter;
}
.text-content h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 50px;
    margin: 0;
    font-weight: lighter;
}
.text-content h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    margin: 25px;
    font-weight:400;
}
.text-content h3 {
    font-family: 'Trirong', serif;
    font-size: 15px;
    margin: 25px;
    font-weight: lighter;
}
.text-content p {
    font-family: 'Trirong', serif;
    font-size: 15px;
    font-weight: lighter;
    margin: 10px;
}
.home-section {
    width: 100%;
    height: 610px;

    /* Gradient + Image combined */
    background-image: 
    linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)),  /* gradient overlay */
    url('/assets/images/A-Girl-A-Style-_-Were-Married.jpg');    

    background-size:cover;                 /* scales image to cover entire div */
    background-position: center;            /* centers the image */
    background-repeat: no-repeat;           /* prevents tiling */
    color: rgb(0, 0, 0);                           /* optional: for text readability */
    align-items: center;
    justify-content: center;
    text-align: center;
}


/*=== Save The Date ===*/
.calender {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */  
}

.calender-img {
  margin-top: 40px;
  text-align: center;
}

/*=== THE WEDDING ===*/
/*=== ITINERARY ===*/
/*=== WEDDING PARTY ===*/
/*=== RSVP ===*/
