/*=== GENERAL ===*/
html, body {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #333;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 100%;
}


/*=== COUNTDOWN ===*/
#countdown {
    text-align: center;
    font-family: 'Trirong', serif;
    font-weight: lighter;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.timer span {
    font-size: 2.5rem;
    font-weight: lighter;
    color: #000000;
}

/*=== HOME ===*/
.text-content {
    text-align: center;
    color: rgb(0, 0, 0);
    border: 0;
}

.text-content h5 {
    font-family: 'Allura', cursive;
    font-size: 30px;
    margin: 0;
    font-weight: lighter;
}

.text-content h1 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 50px;
    margin: 0;
    font-weight: lighter;
}

.text-content h3 {
    font-family: 'Trirong', serif;
    font-size: 15px;
    margin-top: 50px;
    font-weight: lighter;
}

.home-section {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), 
    url('/assets/images/A-Girl-A-Style-_-Were-Married.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*=== Save The Date ===*/
.calendar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.calendar-img {
    width: 700px;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.calendar-img.animate__animated {
    opacity: 1;
}

/*=== THE WEDDING ===*/
/*=== ITINERARY ===*/
/*=== WEDDING PARTY ===*/
/*=== RSVP ===*/

/*=== SCROLL SNAP ===*/
.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 0;
}

.snap-section {
    scroll-snap-align: start;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/*=== Optional Section Backgrounds ===*/
#home {
    background-color: #fff5f7;
}
#save-the-date {
    background-color: #fdfdfd;
}
#details {
    background-color: #f9f9f9;
}
